html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
	 text-align: center;
    height: 100%;
	 background-image: url('./img/landscape.jpg');
	 background-position: top;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.item .wrapper {
    background: linear-gradient(rgba(255,255,255,0.95), rgba(221,221,221,0.95));
    border: 1px solid rgb(133,133,133);
    border-radius: 10px;
    font-size: 25px;
    color: gray;
    padding: 10px;
    box-shadow: 0 0 20px rgba(81, 203, 238, 1);
    max-width: 800px;
    /*max-height: 90%;*/
    max-height: auto;
    margin: 2% auto;
    overflow: auto;
}

.item address {
	 padding: 20px;
    text-align: left;    
    border: 1px solid lightgray;
    border-radius: 8px;
    font-size: 20px;
}

.vcard .givenName,
.vcard .familyName {
    font-weight: bold;
}
