body{
    background: url("File/landscape.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}


.nav-header {
    /*background-color: transparent !important;*/
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
}

.nav-header span{
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    color: #1ab5c1;;
    font-weight: 600;
    font-style: italic;
}


.home-page-title-header{
    text-align: center;
    margin-top: 200px;
    color: #ffffff;
}

.search-area {
    margin-top: 60px;
    padding-right: 50px;
    padding-left: 50px;
}

#basic-addon1{
    background-color: #1ab5c1;
    color: #ffffff;
}

.search-btn{
    width: 100%;
    background-color: #1ab5c1;
    color: #ffffff;
}

.search-type-area{
    margin-top: 50px;

}

.panel{
    border: 1px solid #ddd !important;
}

.panel-header{
    background-color: #f6f6f6;
    border-bottom: 1px solid #ddd;
    padding: 7px 15px;
}

.table {
    border-collapse: separate ;
}

.table i{
    color: #1ab5c1;
}

.ndf{
    color: red;
    font-weight: bold;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white !important;
    height: 30px;
    padding-top: 5px;
}

footer a{
    color: white !important;
    padding-left: 50px;
}


.item .wrapper {
    background: linear-gradient(rgba(255,255,255,0.95), rgba(221,221,221,0.95));
    border: 1px solid rgb(133,133,133);
    border-radius: 10px;
    font-size: 25px;
    color: gray;
    padding: 10px;
    box-shadow: 0 0 20px rgba(81, 203, 238, 1);
    max-width: 800px;
    /*max-height: 90%;*/
    max-height: auto;
    margin: 2% auto;
    overflow: auto;
}

.item .wrapper h1{
    text-align: center;
    font-size:25px;
    font-weight: bold;
    margin-bottom: 30px;

}

.item address {
    padding: 20px;
    text-align: left;
    border: 1px solid lightgray;
    border-radius: 8px;
    font-size: 20px;
}

.vcard .givenName,
.vcard .familyName {
    font-weight: bold;
}